#main-canvas {
  padding: 0;
  background: transparent;
}
#stencil-container,
#stencil,
#stencil-canvas-area,
#stencil-canvas-area2,
#stencil-canvas-area3,
#stencil-canvas-content2,
#stencil-canvas-content,
#stencil-canvas-content3 {
  height: 100%;
  width: 100%;
  padding: 0;
}
#stencil-canvas {
  height: 10%;
  width: 100%;
}
#stencil-canvas2 {
  height: 20%;
  width: 100%;
}
#stencil-canvas3 {
  height: 40.5%;
  width: 100%;
}
html,
body {
  height: 100vh;
  overflow: hidden;
}
#stencil-container {
  height: 100%;
}
#stencil {
  border: 1px solid rgb(124, 5, 15);
  background-color: rgb(124, 133, 130);
  padding: 0%;
  height: 100%vh;
}
#my-row {
  height: 100%;
  width: 100%;
  margin: 0;
}
.stencil-title {
  border: 1px solid rgb(124, 5, 15);
  background-color: rgb(124, 5, 15);
  padding: 1rem;
  text-align: center;
}
.rectangle-title {
  padding: 1rem;
  text-align: center;
}
#stencil-canvas-area,
#stencil-canvas-area2,
#stencil-canvas-area3 {
  padding: 0%;
}
#btn {
  border: 1px solid black;
  width: 100%;
  text-align: left;
  cursor: pointer;
}
.btn i {
  float: right;
  cursor: pointer;
}
button, 
img,
#inputfile {
  cursor: pointer;
}
.grid_disabled {
  opacity: 0.5;
}
.disabled {
  opacity: 0.5;
  pointer-events: none;
}
nav {
  width: 100%;
}
#search-container{
  position:relative;
}
.input-icon{
  position: absolute;
  right: 3px;
  top: calc(50% - 0.5em);
}

.collapse {
  display: block;
}
#paper-canvas {
  width: 100vw;
}
#zoom {
  padding: 0;
  border: none;
  background: none;
}
#help {
  padding:0;
}
#element-helpbox-content,
#link-helpbox-content,
#isWeakKeyDiv {
  display: none;
}
#helpbox {
  z-index: 1;
  background-color:  rgb(170, 3, 17);
  padding: 0.5rem 1rem;
  border: 1px solid rgb(124, 5, 15);
  height: 100%;
  /* overflow: scroll; */
}
#up-menu {
  text-align: center;
  margin: auto ;
}
.slider-pic {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out;
}
.slider-pic:hover {
  opacity:1;
}
.slider-pic::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 17px;
  height: 18px;
  border-radius: 50%;
  background-color: lightslategray;
  cursor: pointer;
}
.slider-pic::-moz-range-thumb {
  width: 23px;
  height: 24px;
  border: 0;
  border-radius: 50%;
  background-color: lightslategray;
  cursor: pointer;
}
.joint-marker-vertex {
  cursor: pointer;
}
.joint-element {
  cursor: pointer;
}
.element-tools {
  display: none;
  cursor: pointer;
}
.joint-element:hover .element-tools {
  display: inline;
}

.menu {
  width: 180px;
  box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
  position: absolute;
  display: none;
  background-color: #FFFFFF;
}
.menu .menu-options {
  list-style: none;
  padding: 5px 0;
  margin: 0;
}
.menu .menu-options .menu-option {
  font-weight: 500;
  font-size: 14px;
  padding: 10px 40px 10px 20px;
  cursor: pointer;
}
.menu .menu-options .menu-option:hover {
  background: rgba(0, 0, 0, 0.2);
}

[type="file"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}
[type="file"] + label {
  background-color: #404040;
  border-radius: 0.7rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px;
}
[type="file"]:focus + label,
[type="file"] + label:hover, 
#x_btn:hover {
    background-color: #808080;
}
[type="file"]:focus + label {
  outline: 1px dotted #000;
}
#x_btn {
  background-color: #404040;
  border-radius: 0.4rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 2.5px 4px;
  margin-bottom: 20px;
  display: none;
}
.dropdown-item {
  cursor: pointer;
}
